.container {
    width: 66%;
    display: flex;
    .area {
        margin-top: 20px;
        width: 66%;
        background-color: #945686;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #da3ab4;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #55063d;
    
        label {
            margin: 5px 0;
        }
    
        input {
            margin: 5px 0;
        }
    
        .btnArea {
            margin: 20px 0;
    
            button {
                margin: 0 10px;
                font-size: 21px;
                background-color: #57568b;
                border: none;
                border-radius: 4px;
                transition: 0.6s;
    
                &:hover {
                    cursor: pointer;
                    background-color: #120fb8;
                    color: aliceblue;
                }
            }
        }
    }

    .respRevCouArea {
        margin-top: 20px;
        margin-left: 50px;
        text-align: center;
        overflow: auto;
        border-radius: 5px;
        background-color: #fff;
    }
}